html, body {
  min-height: 100%;
}

body {
  font-family: "Arial";
}

.gray-background {
  background-color: #F5F5F5;
}

.blue-background {
  background-color: #F5FAFF;
}

.circle {
  border-radius: 50%;
}

.shadow-block {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.04), 0 15px 35px 0 rgba(193,196,199,0.2), 0 -5px 15px 0 rgba(160,160,160,0.04), 0 1px 4px 0 rgba(0,0,0,0.11), 0 1px 2px 0 rgba(0,0,0,0.11);
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.04), 0 15px 35px 0 rgba(193,196,199,0.2), 0 -5px 15px 0 rgba(160,160,160,0.04), 0 1px 4px 0 rgba(0,0,0,0.11), 0 1px 2px 0 rgba(0,0,0,0.11);
  -moz-box-shadow:    0 5px 15px 0 rgba(0,0,0,0.04), 0 15px 35px 0 rgba(193,196,199,0.2), 0 -5px 15px 0 rgba(160,160,160,0.04), 0 1px 4px 0 rgba(0,0,0,0.11), 0 1px 2px 0 rgba(0,0,0,0.11);
}

.preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-image: url("../assets/logo.svg");
  background-color: rgba(50,50,50,0.3);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    flex-grow: 1;
    padding-top: 30px;
    padding-bottom: 50px;

    .item {
      padding: 0 15px;
      margin-top: 30px;
      box-sizing: border-box;

      &-card {
        border: 1px solid #C9C9C9;

        &-image {
          height: 250px;
          background-repeat: no-repeat;
          background-size: inherit;
          background-position: center;

          &.no-photo {
            background-image: url("../assets/noImg.jpg");
          }
        }

        &-info {
          padding: 20px 10px;
        }

        &-name {
          padding-bottom: 15px;
        }

        &-price {
          padding-bottom: 30px;
          font-weight: bold;
        }

        .button {
          width: 200px;
          height: 40px;
          text-align: center;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}